.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.library {
  padding: 50px;
}

.library .album img{
  margin-top: 2em;
}

.album-info{
  padding: 1em;
}

.artist {
  font-size: 1.5rem;
}

 .menu {
  color: white;
  font-size: 18px;
  padding-top: 10px;
  justify-content: flex-end;
}


 .menu a:hover{
  color: white;
  text-decoration: none;
  padding: 0px 15px;
  transform: none;
}

a:hover {
  color: white;
  padding-right: 20px;
  transform: scale(1.1);
}

a {
  color: #ffffff;
}

.point img{
  padding-bottom: 10px;
}

#album-cover-art{
  float: left;
  margin-right: 2rem;
  position: relative;
  max-width: 350px;
  height: 350px;
}

#album-info {
  overflow: hidden;
  margin: 1rem 0px;
}

#song-list {
  background-color: hsla(172, 64%, 34%, 0.5);
  padding: 5%;
  box-sizing: border-box;
}

.album-details {
  padding: 1rem;
  margin: auto;
}

#time-control input {
  width:100%;
}

#buttons {
  margin: 0 auto;
}

#previous:hover, #play-pause:hover, #next:hover {
  transform: scale(1.5);
  color: hsla(0, 0%, 100%, 1);
}

main {
  box-sizing: border-box;
}

table {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  margin: 1.5em 0;
}

button {
  background: none;
  border: none;
  color: white;
}

button:hover {
  color: hsla(0, 0%, 100%, 1);
}

.song-number button {
  display: none;
}


tr:hover .ion-play,
tr.playing .ion-pause,
tr.paused .ion-play {
  display: block;
  color: hsla(0, 0%, 100%, 1);
}

tr .ion-play,
tr .ion-pause,
tr:hover .song-number,
tr.playing .ion-play,
tr.playing .song-number,
tr.paused .ion-pause,
tr.paused .song-number {
  display: none;
}


tr .song .playing .ion-pause{
  display: block;
}

tbody tr {
  border-bottom: 1px solid #ffffff;
}


#player-bar {
  background: hsla(0, 0%, 0%, 0.1);
  bottom: 0;
  height: 100px;
  position: fixed;
  width: 100%;
  padding: 20px 0;
}

#volume-control input {
  padding: 0px;
}

.time-control input{
  width: 100%;
}

.controls{
  margin: 1.5em auto;
  width: 100%;
  align-items: center;
}

.icon {
  padding: 0px;
}

.current-time, .total-time{
  padding: 0px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
